.active {
  background-color: #dcf024;
}
.inactive {
  background-color: #ccc;
  color: #949090;
}
article {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  padding: 1rem;
  margin-bottom: 1rem;
}
hr {
  margin: 2rem 0;
  border-color: rgba(0, 0, 0, 0.1);
  height: 0.1rem;
}
button {
  display: block;
  padding: 0.3rem;
  margin: 0.2rem 0;
}
